src/jade/index.jade
block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block content
	.fullw.inverted.promo.promo-main
		.container-fluid
			.header-margin-inside
			.row
				.col-xs-12
					h1 We are building a proper kiteboarding community and we need your help!
					.faces
						a(href="https://www.facebook.com/rafeev")
							img(src="img/main-vlad.png")
						a(href="https://www.facebook.com/slamshoo")
							img(src="img/main-slava.png")
					p We are two kitesurfers that love sport and love to build websites. Our mission is to create a "one stop" for everything you need in kiteboarding.
					p Right now we need your help to fill a few forms about your favorite/local spot conditions and schools info.
			.row.btn-list
				.col-sm-6
					a.btn.btn-default(href='https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform', role='button') My spot
				.col-sm-6
					a.btn.btn-default(href='school.html', role='button') My school
	.container-fluid.bgst.padding-top-1
		.row
			.col-xs-12
				h2 What will be there?
				p First iteration of KiteAround website will include:
		.row
			.col-sm-6.main-feature.main-feature-country
				a(href="spot-list-atlas.html")
					h3 Countries
				p Guide for all major and minor kiteboarding destinations with detailed information. Descriptions, statistics, condition, hazards, meteostations — all there.
			.col-sm-6.main-feature.main-feature-spot
				a(href="spot.html")
					h3 Spots
				p Kiteboarding / kitesurfing spots around the globe. You can contribute to tell us about your favorite ones!
		.row
			.col-sm-6.main-feature.main-feature-school
				a(href="school-list.html")
					h3 Schools
				p You can see on a map all schools, detailed info about each, photos, location, features, you name it.
			.col-sm-6.main-feature.main-feature-event
				a(href="event-list.html")
					h3 Events
				p Where are the biggest competitions, sports and music festivals, local events will take place? You can tell by looking in our events section.
		.row
			.col-sm-6.main-feature.main-feature-trick
				a(href="trick-list.html")
					h3 Tricks
				p Have you ever wandered, what trick to learn next? We are compiling all tricks variations with video instructions, so you could try something new every session!
			.col-sm-6.main-feature.main-feature-blog
				a(href="post-list.html")
					h3 Blogs
				p Top videos, stories, photos from all sources. All content is community-moderated to select only the most interesting.
		.row
			.col-sm-6.main-feature.main-feature-map
				a(href="map.html")
					h3 Maps
				p All data is visualized on maps — spots, schools, shops, you name it!
			.col-sm-6.main-feature.main-feature-shop
				a(href="shop-list.html")
					h3 Shops
				p Where is nearest retailer of your favorite brand? You can find it here too.
		.row
			.col-xs-12
				h2 Why it will be better?
				p
					strong Optimized for mobile
					| . We love to build responsive websites at 
					a(href="http://accuraten.com/") Accuraten
					|  bureau. Kite Around will have beautiful design and pleasant user experience across all platforms.
				p
					strong Community-driven
					| . No more "I said, you listen" attitude. You can contribute and edit content. You can vote to show your love or hate to videos, brands and other content. You decide, where project will be heading.
				p
					strong Modern
					| . We are inspired by modern communities like Medium, Reddit, StackOverflow and MagicSeaWeed.
				p.mgst3x
					strong Support for small business
					| . We think about instructors, shops, service providers, schools and event organizers to help them spread their message.
	.fullw.inverted.main-howcanuhelp
		.container-fluid
			.row
				.col-xs-12
					h2 How can you help?
					p Please fill these forms to share your knowledge with Internet:
					.row.main-howcanuhelp-btns
						.col-sm-6
							a.btn.btn-default(href='https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform', role='button') My spot
						.col-sm-6
							a.btn.btn-default(href='/school.html', role='button') My school
	.container-fluid.bgst.padding-top-1
		.row
			.col-xs-12
				h2 When it will be ready?
				p We plan to launch in 2015. You can tell us your email and take part in beta testing.
		.row
			form(id="", method="POST", action="?")
				.col-sm-6.col-md-7
					.form-group
						input#exampleInputEmail1.form-control.main-form-email(type='email', placeholder='Enter email')
				.col-sm-6.col-md-5.col-xs-10.col-xs-offset-1.col-sm-offset-0.mgst
					button.btn.btn-default.btn-block(type='submit') Let me know
				.col-xs-12
					.alert.alert-success.alert-dismissible.mgst.hidden(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') &times;
						p We've got your email and will keep you informed.
					.alert.alert-danger.alert-dismissible.mgst.hidden(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') &times;
						p Something went wrong. Please try again.
		.row
			.col-xs-12
				h2 Like us on Facebook to receive updates
				.fb-like-box(data-href='https://www.facebook.com/pages/Kitearound/852081554833830', data-colorscheme='light', data-show-faces='true', data-header='true', data-stream='true', data-show-border='false')

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kitearound — kitesurfing comminity | Spots, tricks, schools, brands</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body class="page-marginless">
    <div id="header" class="fullw header-overlay">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div class="fullw inverted promo promo-main">
      <div class="container-fluid">
        <div class="header-margin-inside"></div>
        <div class="row">
          <div class="col-xs-12">
            <h1>We are building a proper kiteboarding community and we need your help!</h1>
            <div class="faces"><a href="https://www.facebook.com/rafeev"><img src="img/main-vlad.png"></a><a href="https://www.facebook.com/slamshoo"><img src="img/main-slava.png"></a></div>
            <p>We are two kitesurfers that love sport and love to build websites. Our mission is to create a "one stop" for everything you need in kiteboarding.</p>
            <p>Right now we need your help to fill a few forms about your favorite/local spot conditions and schools info.</p>
          </div>
        </div>
        <div class="row btn-list">
          <div class="col-sm-6"><a href="https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform" role="button" class="btn btn-default">My spot</a></div>
          <div class="col-sm-6"><a href="school.html" role="button" class="btn btn-default">My school</a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid bgst padding-top-1">
      <div class="row">
        <div class="col-xs-12">
          <h2>What will be there?</h2>
          <p>First iteration of KiteAround website will include:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 main-feature main-feature-country"><a href="spot-list-atlas.html">
            <h3>Countries</h3></a>
          <p>Guide for all major and minor kiteboarding destinations with detailed information. Descriptions, statistics, condition, hazards, meteostations — all there.</p>
        </div>
        <div class="col-sm-6 main-feature main-feature-spot"><a href="spot.html">
            <h3>Spots</h3></a>
          <p>Kiteboarding / kitesurfing spots around the globe. You can contribute to tell us about your favorite ones!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 main-feature main-feature-school"><a href="school-list.html">
            <h3>Schools</h3></a>
          <p>You can see on a map all schools, detailed info about each, photos, location, features, you name it.</p>
        </div>
        <div class="col-sm-6 main-feature main-feature-event"><a href="event-list.html">
            <h3>Events</h3></a>
          <p>Where are the biggest competitions, sports and music festivals, local events will take place? You can tell by looking in our events section.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 main-feature main-feature-trick"><a href="trick-list.html">
            <h3>Tricks</h3></a>
          <p>Have you ever wandered, what trick to learn next? We are compiling all tricks variations with video instructions, so you could try something new every session!</p>
        </div>
        <div class="col-sm-6 main-feature main-feature-blog"><a href="post-list.html">
            <h3>Blogs</h3></a>
          <p>Top videos, stories, photos from all sources. All content is community-moderated to select only the most interesting.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 main-feature main-feature-map"><a href="map.html">
            <h3>Maps</h3></a>
          <p>All data is visualized on maps — spots, schools, shops, you name it!</p>
        </div>
        <div class="col-sm-6 main-feature main-feature-shop"><a href="shop-list.html">
            <h3>Shops</h3></a>
          <p>Where is nearest retailer of your favorite brand? You can find it here too.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Why it will be better?</h2>
          <p><strong>Optimized for mobile</strong>. We love to build responsive websites at <a href="http://accuraten.com/">Accuraten</a> bureau. Kite Around will have beautiful design and pleasant user experience across all platforms.</p>
          <p><strong>Community-driven</strong>. No more "I said, you listen" attitude. You can contribute and edit content. You can vote to show your love or hate to videos, brands and other content. You decide, where project will be heading.</p>
          <p><strong>Modern</strong>. We are inspired by modern communities like Medium, Reddit, StackOverflow and MagicSeaWeed.</p>
          <p class="mgst3x"><strong>Support for small business</strong>. We think about instructors, shops, service providers, schools and event organizers to help them spread their message.</p>
        </div>
      </div>
    </div>
    <div class="fullw inverted main-howcanuhelp">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h2>How can you help?</h2>
            <p>Please fill these forms to share your knowledge with Internet:</p>
            <div class="row main-howcanuhelp-btns">
              <div class="col-sm-6"><a href="https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform" role="button" class="btn btn-default">My spot</a></div>
              <div class="col-sm-6"><a href="/school.html" role="button" class="btn btn-default">My school</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bgst padding-top-1">
      <div class="row">
        <div class="col-xs-12">
          <h2>When it will be ready?</h2>
          <p>We plan to launch in 2015. You can tell us your email and take part in beta testing.</p>
        </div>
      </div>
      <div class="row">
        <form id="" method="POST" action="?">
          <div class="col-sm-6 col-md-7">
            <div class="form-group">
              <input id="exampleInputEmail1" type="email" placeholder="Enter email" class="form-control main-form-email">
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-xs-10 col-xs-offset-1 col-sm-offset-0 mgst">
            <button type="submit" class="btn btn-default btn-block">Let me know</button>
          </div>
          <div class="col-xs-12">
            <div role="alert" class="alert alert-success alert-dismissible mgst hidden">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
              <p>We've got your email and will keep you informed.</p>
            </div>
            <div role="alert" class="alert alert-danger alert-dismissible mgst hidden">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
              <p>Something went wrong. Please try again.</p>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Like us on Facebook to receive updates</h2>
          <div data-href="https://www.facebook.com/pages/Kitearound/852081554833830" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false" class="fb-like-box"></div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
