public/post.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Aaron Hadlow joins North Kiteboarding | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body>
    <div id="header" class="fullw">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div class="container-fluid container-st">
      <div class="row">
        <div class="col-xs-12">
          <div class="post-header">
            <div class="container-no-padding"><img src="img/content/post-01.jpg" class="img-responsive"></div>
            <div class="img-caption">Photo by <a href="https://twitter.com/tobybromwich">Toby Bromwich</a></div>
            <h1>Aaron Hadlow joins North Kiteboarding</h1>
          </div>
          <div class="share-widget fixedsticky">
            <div class="share-widget-facebook"><a class="js"><i class="fa fa-facebook"></i><span class="share-widget-count">1233</span></a></div>
            <div class="share-widget-twitter"><a class="js"><i class="fa fa-twitter"></i><span class="share-widget-count">39</span></a></div>
            <div class="share-widget-pinterest"><a class="js"><i class="fa fa-pinterest"></i><span class="share-widget-count">5</span></a></div>
            <div class="share-widget-comments"><a href="#comments" class="js"><i class="fa fa-comments"></i><span class="share-widget-count">1709</span></a></div>
            <div class="share-widget-tags"><a href="#tags" class="js"><i class="fa fa-tag"></i><span class="share-widget-count">15</span></a></div>
            <div class="share-widget-votes">
              <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
            </div>
          </div>
          <div class="post-margin"></div>
          <p>He is one of Kiteboarding' s most prestigious riders, 5 x World Champion and an inspiration to kiteboarders across the globe with his sheer style, ruthless technicality and British persona. The name has been seen on kites since 2008, boards since 2004 and he was landing double handle passes over 10 years ago. Bringing years of experience in product development, we are proud to announce that Aaron Hadlow has joined the North Kiteboarding Team.</p>
          <p>At just 25 years old, Hadlow's kiteboarding career has been exceptional throughout. Forever advancing at a pace that left the rest of the PKRA competition fleet behind, Aaron has carved a name for himself deep into the kiteboarding industry. Having managed his own brand within Flexifoil for years, he speaks about how he is excited to be part of a team after a longtime being responsible for everything from product development and marketing, all the while trying to find time to train and travel on the PKRA tour.</p>
          <p>Hadlow joins North Kiteboarding not only as a rider and Team member, but will be involved heavily in RD.  Between his extensive knowledge and time on the water, teamed with North Kiteboarding's product development and setup, it's as if the 'Dream Team' has finally joined forces and it's more that he could have ever imagined.</p>
          <p>I'm excited about joining North Kiteboarding and it's great to be supported by such a knowledgeable and experienced team. It's obviously a massive step for me, but I feel that this partnership has a lot of synergy and potential.”</p>
          <p>So what's next? Hadlow joins a Team of life long friends such as Jaime Herraiz and Tom Court, so you can expect some great videos from Tom and Aaron as the work and travel together. North Kiteboarding also has PKRA riders Mario, Stefan and Reno to offer up some in-house healthy rivalry on the tour. And finally, next month Aaron will be headed to Hood River with the other Vegas riders for his first Team shoot, so stay tuned on how that goes.</p>
          <p>Welcome to North Kiteboarding Aaron Hadlow!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr><a href="user.html" class="user-block user-block-time"><img src="img/content/user04.jpg" class="user-pic"/>
            <div class="user-name-karma">
              <div class="user-name">North kiteboarding</div>&nbsp;
              <div class="user-karma">125</div>
            </div>
            <div class="timestamp">6 month ago</div></a>
          <h2>Read next</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-black"><a href="spot.html">
              <div class="card-category">Spots
              </div>
              <h2>Best wave spots in Portugal
              </h2></a>
            <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-rapsberry"><a href="post.html">
              <div class="card-category">News
              </div>
              <h2>Aaron Hadlow crowned Red Bull King of the Air
              </h2></a>
            <div style="background: url(&quot;img/content/post-01.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"><a id="tags"></a>
          <h2>Tags</h2>
          <ul class="tag-list margin-standard">
            <li><a href="tag.html" class="tag">north</a></li>
            <li><a href="tag.html" class="tag">hadlow</a></li>
            <li><a href="tag.html" class="tag">moneycantbuyeverything</a></li>
            <li><a href="tag.html" class="tag">prorider</a></li>
            <li><a href="tag.html" class="tag">cmonwtf</a></li>
            <li><a href="tag.html" class="tag">transfer</a></li>
            <li><a href="tag.html" class="tag">flexifoil</a></li>
            <li><a href="tag.html" class="tag">me</a></li>
            <li><a href="tag.html" class="tag">north</a></li>
            <li><a href="tag.html" class="tag">prorider</a></li>
            <li><a href="tag.html" class="tag">hadlow</a></li>
            <li><a href="tag.html" class="tag">wakestyle</a></li>
            <li><a href="tag.html" class="tag">transfer</a></li>
            <li><a href="tag.html" class="tag">flexifoil</a></li>
          </ul><a id="comments"></a>
          <h2>Comments</h2>
          <div class="comments-form">
            <textarea rows="3" placeholder="Your comment goes here" class="form-control mgst"></textarea>
            <button type="button" class="btn btn-default mgst">Post a comment</button>
          </div>
          <div class="comments-list">
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user01.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">freerider</div>&nbsp;
                    <div class="user-karma">125</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes opla"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+12k</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Why all great riders are selling for money? I don't understand this! Lenten, Zoon, now Hadlow. I quit kiteboarding, better start playing chess from now. I hate you, people.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user02.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">f16 shredder</div>&nbsp;
                    <div class="user-karma">18</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+983</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Relax, man. Maybe he likes North kites colors more, than Flexi's.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user03.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">shriboomer</div>&nbsp;
                    <div class="user-karma">50</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Hehe, why don't everyone stop whining around and go for a good session? I'm sure Hadlow is having a good one now.</p>
              </div>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span></a></li>
              <li class="active"><a href="#">01<span class="sr-only">(current)</span></a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li><a href="#">04</a></li>
              <li><a href="#">05</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/post.jade
extends default.jade

block title
	title Aaron Hadlow joins North Kiteboarding | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				.post-header
					.container-no-padding
						img.img-responsive(src="img/content/post-01.jpg")
					.img-caption Photo by 
							a(href="https://twitter.com/tobybromwich") Toby Bromwich
					h1 Aaron Hadlow joins North Kiteboarding
				+share-widget
				.post-margin
				p He is one of Kiteboarding' s most prestigious riders, 5 x World Champion and an inspiration to kiteboarders across the globe with his sheer style, ruthless technicality and British persona. The name has been seen on kites since 2008, boards since 2004 and he was landing double handle passes over 10 years ago. Bringing years of experience in product development, we are proud to announce that Aaron Hadlow has joined the North Kiteboarding Team.
				p At just 25 years old, Hadlow's kiteboarding career has been exceptional throughout. Forever advancing at a pace that left the rest of the PKRA competition fleet behind, Aaron has carved a name for himself deep into the kiteboarding industry. Having managed his own brand within Flexifoil for years, he speaks about how he is excited to be part of a team after a longtime being responsible for everything from product development and marketing, all the while trying to find time to train and travel on the PKRA tour.
				p Hadlow joins North Kiteboarding not only as a rider and Team member, but will be involved heavily in RD.  Between his extensive knowledge and time on the water, teamed with North Kiteboarding's product development and setup, it's as if the 'Dream Team' has finally joined forces and it's more that he could have ever imagined.
				p I'm excited about joining North Kiteboarding and it's great to be supported by such a knowledgeable and experienced team. It's obviously a massive step for me, but I feel that this partnership has a lot of synergy and potential.”
				p So what's next? Hadlow joins a Team of life long friends such as Jaime Herraiz and Tom Court, so you can expect some great videos from Tom and Aaron as the work and travel together. North Kiteboarding also has PKRA riders Mario, Stefan and Reno to offer up some in-house healthy rivalry on the tour. And finally, next month Aaron will be headed to Hood River with the other Vegas riders for his first Team shoot, so stay tuned on how that goes.
				p Welcome to North Kiteboarding Aaron Hadlow!
		.row
			.col-xs-12
				hr
				+user-karma-timestamp
				h2 Read next
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Best wave spots in Portugal", "black", "img/content/spot-05.jpg")
			.col-sm-6
				+card("post.html", "News", "Aaron Hadlow crowned Red Bull King of the Air", "rapsberry", "img/content/post-01.jpg")
		.row
			.col-xs-12
				a(id="tags")
				h2 Tags
				+tag-list
				a(id="comments")
				h2 Comments
				+comments-list
