src/jade/school.jade
block append init
  - var bodyclass = "page-marginless"
  - var header_overlay = true

extends default.jade

block title
  title Surfpoint kiteschool | Kitearound

block content
  .fullw.inverted.promo.promo-school(style="background: url('img/content/school-promo.jpg') no-repeat center center; background-size: cover;")
    .container-fluid
      .row
        img(src="img/content/user08.jpg").user-pic
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Surfpoint kiteschool
        p Surfpoint is a kiteboarding and surfing school in 
          a(href="spot.html") Vietnam
          |. We pride ourselves as one of the most professional schools in 
          a(href="spot.html") Mui Ne
          |  while maintaining an open and relaxed atmosphere. Our instructors were ones of the first kitesurfers in Vietnam. As of now they set the highest standards of both teaching and riding.
        h2 Prices
        table.table
          tr
            td Lesson / 1 hour
            td 50$
          tr
            td Lesson / 5 hours
            td 300$
          tr
            td Lesson / 10 hours
            td 450$
          tr
            td Storage / daily
            td 10$
        h2 Photos
        +photo-gallery
        h2 Features
        ul.fa-ul.ul-common
          li
            i.fa-li.fa.fa-check
            | English language
          li
            i.fa-li.fa.fa-check
            | Spanish language
          li
            i.fa-li.fa.fa-check
            | French language
          li
            i.fa-li.fa.fa-check
            | Storage
          li
            i.fa-li.fa.fa-check
            | Pump
          li
            i.fa-li.fa.fa-check
            | Shower
          li
            i.fa-li.fa.fa-check
            | Parking
          li
            i.fa-li.fa.fa-check
            | Jetski rescue
        h2 Contact info
        ul.fa-ul.ul-common.ul-common-info
          li
            i.fa-li.fa.fa-envelope-square
            a(href="mailto:willywillyschool@gmail.com") willywillyschool@gmail.com
          li
            i.fa-li.fa.fa-phone-square
            a(href="tel:+841276501527") +841276501527
          li
            i.fa-li.fa.fa-skype
            a(href="skype:shurella666") shurella666
        h2 Location
        ul.ul-location
          li 
            a(href="spot.html") Asia
          li
            a(href="spot.html") Southeast Asia
          li
            a(href="country.html") Vietnam
          li
            a(href="spot.html") Phan Thiet
          li Batalla del Salado 41
        .map#spot-location-map(data-lat='10.945736510951978', data-lng='108.20295614624024')
        h2 Read more
    .row
      .col-sm-6
        +card("spot.html", "Spots", "Mui Ne", "black", "img/content/spot-05.jpg")
      .col-sm-6
        +card("spot-school.html", "Schools", "Mui Ne kiteschools", "rapsberry", "img/content/post-02.jpg")
    .row
      .col-xs-12
        h2 Comments
        +comments-list

public/school.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Surfpoint kiteschool | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body class="page-marginless">
    <div id="header" class="fullw header-overlay">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div style="background: url('img/content/school-promo.jpg') no-repeat center center; background-size: cover;" class="fullw inverted promo promo-school">
      <div class="container-fluid">
        <div class="row"><img src="img/content/user08.jpg" class="user-pic"></div>
      </div>
    </div>
    <div class="container-fluid container-st">
      <div class="share-widget fixedsticky">
        <div class="share-widget-facebook"><a class="js"><i class="fa fa-facebook"></i><span class="share-widget-count">1233</span></a></div>
        <div class="share-widget-twitter"><a class="js"><i class="fa fa-twitter"></i><span class="share-widget-count">39</span></a></div>
        <div class="share-widget-pinterest"><a class="js"><i class="fa fa-pinterest"></i><span class="share-widget-count">5</span></a></div>
        <div class="share-widget-comments"><a href="#comments" class="js"><i class="fa fa-comments"></i><span class="share-widget-count">1709</span></a></div>
        <div class="share-widget-votes">
          <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>Surfpoint kiteschool</h1>
          <p>Surfpoint is a kiteboarding and surfing school in <a href="spot.html">Vietnam</a>. We pride ourselves as one of the most professional schools in <a href="spot.html">Mui Ne</a> while maintaining an open and relaxed atmosphere. Our instructors were ones of the first kitesurfers in Vietnam. As of now they set the highest standards of both teaching and riding.</p>
          <h2>Prices</h2>
          <table class="table">
            <tr>
              <td>Lesson / 1 hour</td>
              <td>50$</td>
            </tr>
            <tr>
              <td>Lesson / 5 hours</td>
              <td>300$</td>
            </tr>
            <tr>
              <td>Lesson / 10 hours</td>
              <td>450$</td>
            </tr>
            <tr>
              <td>Storage / daily</td>
              <td>10$</td>
            </tr>
          </table>
          <h2>Photos</h2>
          <div class="container-no-padding">
            <div itemscope="" itemtype="http://schema.org/ImageGallery" class="img-treemap img-treemap-5">
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-05.jpg" itemprop="contentUrl" data-size="1000x750" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="750"/>
                <figcaption itemprop="caption description">Beach overview
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-06.jpg" itemprop="contentUrl" data-size="1280x854" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-06.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1280"/>
                <meta itemprop="height" content="854"/>
                <figcaption itemprop="caption description">Some guy shredding
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-07.jpg" itemprop="contentUrl" data-size="560x344" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-07.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="560"/>
                <meta itemprop="height" content="344"/>
                <figcaption itemprop="caption description">Another guy shredding
                </figcaption>
              </figure>
            </div>
            <div class="clearfix"></div>
          </div>
          <h2>Features</h2>
          <ul class="fa-ul ul-common">
            <li><i class="fa-li fa fa-check"></i>English language</li>
            <li><i class="fa-li fa fa-check"></i>Spanish language</li>
            <li><i class="fa-li fa fa-check"></i>French language</li>
            <li><i class="fa-li fa fa-check"></i>Storage</li>
            <li><i class="fa-li fa fa-check"></i>Pump</li>
            <li><i class="fa-li fa fa-check"></i>Shower</li>
            <li><i class="fa-li fa fa-check"></i>Parking</li>
            <li><i class="fa-li fa fa-check"></i>Jetski rescue</li>
          </ul>
          <h2>Contact info</h2>
          <ul class="fa-ul ul-common ul-common-info">
            <li><i class="fa-li fa fa-envelope-square"></i><a href="mailto:willywillyschool@gmail.com">willywillyschool@gmail.com</a></li>
            <li><i class="fa-li fa fa-phone-square"></i><a href="tel:+841276501527">+841276501527</a></li>
            <li><i class="fa-li fa fa-skype"></i><a href="skype:shurella666">shurella666</a></li>
          </ul>
          <h2>Location</h2>
          <ul class="ul-location">
            <li> <a href="spot.html">Asia</a></li>
            <li><a href="spot.html">Southeast Asia</a></li>
            <li><a href="country.html">Vietnam</a></li>
            <li><a href="spot.html">Phan Thiet</a></li>
            <li>Batalla del Salado 41</li>
          </ul>
          <div id="spot-location-map" data-lat="10.945736510951978" data-lng="108.20295614624024" class="map"></div>
          <h2>Read more</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-black"><a href="spot.html">
              <div class="card-category">Spots
              </div>
              <h2>Mui Ne
              </h2></a>
            <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-rapsberry"><a href="spot-school.html">
              <div class="card-category">Schools
              </div>
              <h2>Mui Ne kiteschools
              </h2></a>
            <div style="background: url(&quot;img/content/post-02.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Comments</h2>
          <div class="comments-form">
            <textarea rows="3" placeholder="Your comment goes here" class="form-control mgst"></textarea>
            <button type="button" class="btn btn-default mgst">Post a comment</button>
          </div>
          <div class="comments-list">
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user01.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">freerider</div>&nbsp;
                    <div class="user-karma">125</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes opla"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+12k</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Why all great riders are selling for money? I don't understand this! Lenten, Zoon, now Hadlow. I quit kiteboarding, better start playing chess from now. I hate you, people.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user02.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">f16 shredder</div>&nbsp;
                    <div class="user-karma">18</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+983</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Relax, man. Maybe he likes North kites colors more, than Flexi's.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user03.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">shriboomer</div>&nbsp;
                    <div class="user-karma">50</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Hehe, why don't everyone stop whining around and go for a good session? I'm sure Hadlow is having a good one now.</p>
              </div>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span></a></li>
              <li class="active"><a href="#">01<span class="sr-only">(current)</span></a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li><a href="#">04</a></li>
              <li><a href="#">05</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
