public/shop.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Real watersports | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body class="page-marginless">
    <div id="header" class="fullw header-overlay">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div style="background: url('img/content/shop-01.jpg') no-repeat center center; background-size: cover;" class="fullw inverted promo promo-school"></div>
    <div class="container-fluid container-st">
      <div class="row">
        <div class="col-xs-12">
          <div class="share-widget fixedsticky">
            <div class="share-widget-facebook"><a class="js"><i class="fa fa-facebook"></i><span class="share-widget-count">1233</span></a></div>
            <div class="share-widget-twitter"><a class="js"><i class="fa fa-twitter"></i><span class="share-widget-count">39</span></a></div>
            <div class="share-widget-pinterest"><a class="js"><i class="fa fa-pinterest"></i><span class="share-widget-count">5</span></a></div>
            <div class="share-widget-comments"><a href="#comments" class="js"><i class="fa fa-comments"></i><span class="share-widget-count">1709</span></a></div>
            <div class="share-widget-votes">
              <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
            </div>
          </div>
          <h1>Real watersports</h1>
          <p>REAL is the number 1 kiteboarding and surfing retailer, lesson center and destination in the world. We ship gear worldwide from our home in Cape Hatteras, NC and are committed to providing the highest possible level of customer service.</p>
          <p>Everyone on our team surfs, kiteboards or gets in the water almost every day of the year! It's part of our company culture and plays an essential role in helping us provide the best knowledge, service and stoke for our customers.</p>
          <h2>Location</h2>
          <ul class="ul-location">
            <li> <a href="spot.html">America</a></li>
            <li><a href="spot.html">North America</a></li>
            <li><a href="spot.html">USA</a></li>
            <li><a href="spot.html">North Carolina</a></li>
            <li><a href="spot.html">Cape Hatteras</a></li>
          </ul>
          <div id="spot-location-map" data-lat="35.5658496" data-lng="-75.469563" class="map"></div>
          <h2>We are selling following brands</h2>
          <ul class="ul-brands">
            <li><a href="user.html" class="user-block"><img src="img/content/user04.jpg" class="user-pic">
                <div class="user-name-karma">
                  <div class="user-name">North kiteboarding</div>&nbsp;
                  <div class="user-karma">125</div>
                </div></a></li>
            <li><a href="user.html" class="user-block"><img src="img/content/user05.jpg" class="user-pic">
                <div class="user-name-karma">
                  <div class="user-name">Mystic</div>&nbsp;
                  <div class="user-karma">70</div>
                </div></a></li>
            <li><a href="user.html" class="user-block"><img src="img/content/user06.jpg" class="user-pic">
                <div class="user-name-karma">
                  <div class="user-name">Tona</div>&nbsp;
                  <div class="user-karma">42</div>
                </div></a></li>
          </ul>
          <h2>Contacts</h2>
          <ul class="fa-ul ul-common ul-common-info">
            <li><i class="fa-li fa fa-external-link-square"></i><a href="http://www.realwatersports.com/">Official website</a></li>
            <li><i class="fa-li fa fa-facebook-square"></i><a href="https://www.facebook.com/realwatersports">Official Facebook page</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/shop.jade
block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block title
	title Real watersports | Kitearound

block content
	.fullw.inverted.promo.promo-school(style="background: url('img/content/shop-01.jpg') no-repeat center center; background-size: cover;")
	.container-fluid.container-st
		.row
			.col-xs-12
				+share-widget(false, { tags: false })
				h1 Real watersports
				p REAL is the number 1 kiteboarding and surfing retailer, lesson center and destination in the world. We ship gear worldwide from our home in Cape Hatteras, NC and are committed to providing the highest possible level of customer service.
				p Everyone on our team surfs, kiteboards or gets in the water almost every day of the year! It's part of our company culture and plays an essential role in helping us provide the best knowledge, service and stoke for our customers.
				h2 Location
				ul.ul-location
					li 
						a(href="spot.html") America
					li
						a(href="spot.html") North America
					li
						a(href="spot.html") USA
					li
						a(href="spot.html") North Carolina
					li
						a(href="spot.html") Cape Hatteras
				.map#spot-location-map(data-lat='35.5658496', data-lng='-75.469563')
				h2 We are selling following brands
				ul.ul-brands
					li
						a(href="user.html").user-block
							img(src="img/content/user04.jpg").user-pic
							.user-name-karma
								.user-name North kiteboarding
								| &nbsp;
								.user-karma 125
					li
						a(href="user.html").user-block
							img(src="img/content/user05.jpg").user-pic
							.user-name-karma
								.user-name Mystic
								| &nbsp;
								.user-karma 70
					li
						a(href="user.html").user-block
							img(src="img/content/user06.jpg").user-pic
							.user-name-karma
								.user-name Tona
								| &nbsp;
								.user-karma 42
				h2 Contacts
				ul.fa-ul.ul-common.ul-common-info
					li
						i.fa-li.fa.fa-external-link-square
						a(href="http://www.realwatersports.com/") Official website
					li
						i.fa-li.fa.fa-facebook-square
						a(href="https://www.facebook.com/realwatersports") Official Facebook page
