public/spot-statistics.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mui Ne wind statistics | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body>
    <div id="header" class="fullw">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div class="container-fluid container-st">
      <div class="row">
        <div class="col-xs-12">
          <h1>Mui Ne wind statistics</h1>
          <p>We use user contributed date for calculating wind statistics. You can see past contributions, vote for them or input your own data.</p>
          <div class="social-entry">
            <div class="social-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user01.jpg" class="user-pic">
                <div class="user-name-karma">
                  <div class="user-name">freerider</div>&nbsp;
                  <div class="user-karma">125</div>
                </div>
                <div class="timestamp">3 hours ago</div></a>
              <div class="social-votes opla"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+4</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
            </div>
            <div class="comments-text">
              <p>I was living in Mui Ne for 1 year straight. This is my observation.</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>Month</th>
                  <th class="td-spacer"></th>
                  <th>Jan</th>
                  <th>Feb</th>
                  <th>Mar</th>
                  <th>Apr</th>
                  <th>May</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Aug</th>
                  <th>Sep</th>
                  <th>Oct</th>
                  <th>Nov</th>
                  <th>Dev</th>
                </tr>
                <tr>
                  <td class="td-header">Windy days, %</td>
                  <td class="td-spacer"></td>
                  <td>80</td>
                  <td>75</td>
                  <td>60</td>
                  <td>30</td>
                  <td>10</td>
                  <td>40</td>
                  <td>50</td>
                  <td>35</td>
                  <td>20</td>
                  <td>75</td>
                  <td>85</td>
                  <td>90</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="social-entry">
            <div class="social-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user02.jpg" class="user-pic">
                <div class="user-name-karma">
                  <div class="user-name">karmawhore</div>&nbsp;
                  <div class="user-karma">45</div>
                </div>
                <div class="timestamp">9 hours ago</div></a>
              <div class="social-votes opla"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+2</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
            </div>
            <div class="comments-text">
              <p>Data from my own meteostation.</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>Month</th>
                  <th class="td-spacer"></th>
                  <th>Jan</th>
                  <th>Feb</th>
                  <th>Mar</th>
                  <th>Apr</th>
                  <th>May</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Aug</th>
                  <th>Sep</th>
                  <th>Oct</th>
                  <th>Nov</th>
                  <th>Dev</th>
                </tr>
                <tr>
                  <td class="td-header">Windy days, %</td>
                  <td class="td-spacer"></td>
                  <td>35</td>
                  <td>75</td>
                  <td>40</td>
                  <td>20</td>
                  <td>10</td>
                  <td>40</td>
                  <td>90</td>
                  <td>45</td>
                  <td>40</td>
                  <td>25</td>
                  <td>15</td>
                  <td>70</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Contribute wind data</h2>
          <p>Do you know wind statistics on this spot? Feel free to contribute your observations. Your contribution will help kitesurfing community to understand conditions here. </p>
          <p>Tell us, how many of windy days kiter should expect on average on this spot. We consider "windy" any day with minimum average wind speed 12 knots for at least 1 hour.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <table class="table">
            <tr>
              <th>Jan</th>
              <th>Feb</th>
              <th>Mar</th>
            </tr>
            <tr>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-xs-12 col-sm-6">
          <table class="table">
            <tr>
              <th>Apr</th>
              <th>May</th>
              <th>Jun</th>
            </tr>
            <tr>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <table class="table">
            <tr>
              <th>Jul</th>
              <th>Aug</th>
              <th>Sep</th>
            </tr>
            <tr>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-xs-12 col-sm-6">
          <table class="table">
            <tr>
              <th>Oct</th>
              <th>Nov</th>
              <th>Dec</th>
            </tr>
            <tr>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
              <td> 
                <select class="form-control">
                  <option>—</option>
                  <option>0</option>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>30</option>
                  <option>35</option>
                  <option>40</option>
                  <option>45</option>
                  <option>50</option>
                  <option>55</option>
                  <option>60</option>
                  <option>65</option>
                  <option>70</option>
                  <option>75</option>
                  <option>80</option>
                  <option>85</option>
                  <option>90</option>
                  <option>95</option>
                  <option>100</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="comments-form">
            <textarea rows="3" placeholder="Source of your data" class="form-control mgst"></textarea>
            <button type="button" class="btn btn-default mgst">Post a comment</button>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/spot-statistics.jade
extends default.jade

block title
  title Mui Ne wind statistics | Kitearound

block content
  .container-fluid.container-st
    .row
      .col-xs-12
        h1 Mui Ne wind statistics
        p We use user contributed date for calculating wind statistics. You can see past contributions, vote for them or input your own data.
        .social-entry
          .social-entry-header
            a(href="user.html").user-block.user-block-time
              img(src="img/content/user01.jpg").user-pic
              .user-name-karma
                .user-name freerider
                | &nbsp;
                .user-karma 125
              .timestamp 3 hours ago
            +social-votes("4", "opla")
          .comments-text
            p I was living in Mui Ne for 1 year straight. This is my observation.
          .table-responsive
            table.table
              tr
                th Month
                th.td-spacer
                th Jan
                th Feb
                th Mar
                th Apr
                th May
                th Jun
                th Jul
                th Aug
                th Sep
                th Oct
                th Nov
                th Dev
              tr
                td.td-header Windy days, %
                td.td-spacer
                td 80
                td 75
                td 60
                td 30
                td 10
                td 40
                td 50
                td 35
                td 20
                td 75
                td 85
                td 90
        .social-entry
          .social-entry-header
            a(href="user.html").user-block.user-block-time
              img(src="img/content/user02.jpg").user-pic
              .user-name-karma
                .user-name karmawhore
                | &nbsp;
                .user-karma 45
              .timestamp 9 hours ago
            +social-votes("2", "opla")
          .comments-text
            p Data from my own meteostation.
          .table-responsive
            table.table
              tr
                th Month
                th.td-spacer
                th Jan
                th Feb
                th Mar
                th Apr
                th May
                th Jun
                th Jul
                th Aug
                th Sep
                th Oct
                th Nov
                th Dev
              tr
                td.td-header Windy days, %
                td.td-spacer
                td 35
                td 75
                td 40
                td 20
                td 10
                td 40
                td 90
                td 45
                td 40
                td 25
                td 15
                td 70
    .row
      .col-xs-12
        h2 Contribute wind data
        p Do you know wind statistics on this spot? Feel free to contribute your observations. Your contribution will help kitesurfing community to understand conditions here. 
        p Tell us, how many of windy days kiter should expect on average on this spot. We consider "windy" any day with minimum average wind speed 12 knots for at least 1 hour.
    .row
      .col-xs-12.col-sm-6
        table.table
          tr
            th Jan
            th Feb
            th Mar
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
      .col-xs-12.col-sm-6
        table.table
          tr
            th Apr
            th May
            th Jun
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
    .row
      .col-xs-12.col-sm-6
        table.table
          tr
            th Jul
            th Aug
            th Sep
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
      .col-xs-12.col-sm-6
        table.table
          tr
            th Oct
            th Nov
            th Dec
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
    .row
      .col-xs-12
        +comments-form("Source of your data")
