public/spot.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mui Ne kitesurfing | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body class="page-marginless">
    <div id="header" class="fullw header-overlay">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div id="spot-location-map" data-lat="10.945736510951978" data-lng="108.20295614624024" data-zoom="13" data-showmarkers="true" class="container-fluid fullw map map-country"></div>
    <div class="container-fluid container-st">
      <div class="share-widget fixedsticky">
        <div class="share-widget-facebook"><a class="js"><i class="fa fa-facebook"></i><span class="share-widget-count">1233</span></a></div>
        <div class="share-widget-twitter"><a class="js"><i class="fa fa-twitter"></i><span class="share-widget-count">39</span></a></div>
        <div class="share-widget-pinterest"><a class="js"><i class="fa fa-pinterest"></i><span class="share-widget-count">5</span></a></div>
        <div class="share-widget-comments"><a href="#comments" class="js"><i class="fa fa-comments"></i><span class="share-widget-count">1709</span></a></div>
        <div class="share-widget-votes">
          <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>Mui Ne kitesurfing</h1>
          <p>Mui Ne Beach is one of the best <a href="spot.html">Phan Thiet region</a> destination for kiteboarding. Price of living is very cheap, people are friendly. A lot of kitesurfers come to catch some good wind, so expect crowdy beaches. Anyway this area has really long beaches, so you always can find a lonely place to kitesurf.</p>
          <p>Nearby spot <a href="spot.html">Malibu (15 km)</a> has up to overhead waves with beachbreak and lonely beaches.</p>
          <h2>Wind and statistics</h2>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Month</th>
                <th class="td-spacer"></th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dev</th>
              </tr>
              <tr>
                <td class="td-header">Windy days, %</td>
                <td class="td-spacer"></td>
                <td>80</td>
                <td>75</td>
                <td>60</td>
                <td>30</td>
                <td>10</td>
                <td>40</td>
                <td>50</td>
                <td>35</td>
                <td>20</td>
                <td>75</td>
                <td>85</td>
                <td>90</td>
              </tr>
              <tr>
                <td class="td-header">Wind direction</td>
                <td class="td-spacer"></td>
                <td> 
                  <div class="wind-direction wind-direction-1"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-2"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-4"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-1"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-2"></div>
                </td>
                <td> 
                  <div class="wind-direction wind-direction-1"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-3"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-2"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-4"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-1"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-1"></div>
                </td>
                <td>
                  <div class="wind-direction wind-direction-2"></div>
                </td>
              </tr>
              <tr>
                <td class="td-header">KA rating</td>
                <td class="td-spacer"></td>
                <td> <i class="fa fa-star-o"></i></td>
                <td> <i class="fa fa-star-o"></i></td>
                <td> <i class="fa fa-star-o"></i></td>
                <td> </td>
                <td> </td>
                <td> <i class="fa fa-star-o"></i></td>
                <td><i class="fa fa-star-o"></i></td>
                <td></td>
                <td> </td>
                <td> <i class="fa fa-star-o"></i></td>
                <td> <i class="fa fa-star-o"></i></td>
                <td> <i class="fa fa-star-o"></i></td>
              </tr>
            </table>
          </div>
          <p class="table-caption">Based on <a href="spot-statistics.html">many sources</a>.</p>
        </div>
        <div class="col-xs-12">
          <p>Mui Ne enjoys strong winds in winter monsoon season with daily average 20 knots / 5 days a week. Strong winds bring big windy waves overhead and higher.</p>
          <p>Summer monsoon brings rainy weather and smaller winds.</p>
          <h2>Spot photos</h2>
          <div class="container-no-padding">
            <div itemscope="" itemtype="http://schema.org/ImageGallery" class="img-treemap img-treemap-5">
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-05.jpg" itemprop="contentUrl" data-size="1000x750" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="750"/>
                <figcaption itemprop="caption description">Beach overview
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-06.jpg" itemprop="contentUrl" data-size="1280x854" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-06.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1280"/>
                <meta itemprop="height" content="854"/>
                <figcaption itemprop="caption description">Some guy shredding
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-07.jpg" itemprop="contentUrl" data-size="560x344" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-07.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="560"/>
                <meta itemprop="height" content="344"/>
                <figcaption itemprop="caption description">Another guy shredding
                </figcaption>
              </figure>
            </div>
            <div class="clearfix"></div>
          </div>
          <h2>Features</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul class="fa-ul ul-common">
            <li><i class="fa-li fa fa-plus"></i>No current</li>
            <li><i class="fa-li fa fa-plus"></i>Lots of wind</li>
            <li><i class="fa-li fa fa-plus"></i>Tide independent</li>
            <li><i class="fa-li fa fa-plus"></i>Waves 1-3m</li>
            <li><i class="fa-li fa fa-plus"></i>Steady monsoon wind</li>
            <li><i class="fa-li fa fa-plus"></i>Thermal effect</li>
            <li><i class="fa-li fa fa-plus"></i>Cheap prices</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="fa-ul ul-common">
            <li><i class="fa-li fa fa-minus"></i>Crowded</li>
            <li><i class="fa-li fa fa-minus"></i>Fishing nets. Can be as close as 50m from beach in many layers</li>
            <li><i class="fa-li fa fa-minus"></i>Lots of beach users</li>
            <li><i class="fa-li fa fa-minus"></i>Small to medium chop</li>
          </ul>
        </div>
        <div class="col-xs-12"><a href="spot-school.html">
            <h2>Kiteschools in Mui Ne</h2></a>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Price for 1 hour</th>
              <th>KA rating</th>
              <th>Certificate</th>
            </tr>
            <tr>
              <td> <a href="school.html">Surf4you</a></td>
              <td>50€</td>
              <td>+45</td>
              <td><img src="img/icons/iko.svg" class="img-iko"></td>
            </tr>
            <tr>
              <td> <a href="school.html">Surfpoint</a></td>
              <td>60€</td>
              <td>+25</td>
              <td><img src="img/icons/iko.svg" class="img-iko"></td>
            </tr>
            <tr>
              <td> <a href="school.html">Dragon Tarifa</a></td>
              <td>70€</td>
              <td>+12</td>
              <td><img src="img/icons/iko.svg" class="img-iko"></td>
            </tr>
            <tr>
              <td> <a href="school.html">Tarifa Max</a></td>
              <td>60€</td>
              <td>+4</td>
              <td>—</td>
            </tr>
          </table>
          <h2>Nearby spots</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mgst">
          <div class="card card-black"><a href="spot.html">
              <div class="card-category">Spots
              </div>
              <h2>Malibu
              </h2></a>
            <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="mgst2x"> <a href="spot.html">Malibu (15 km)</a> has up to overhead waves with beachbreak and lonely beaches. Sometimes it gives great condition for freestyle and kiteloop sessions.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mgst">
          <div class="card card-black"><a href="spot.html">
              <div class="card-category">Spots
              </div>
              <h2>Turtle Island
              </h2></a>
            <div style="background: url(&quot;img/content/spot-06.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="mgst2x"><a href="spot.html">Turtle Island (30 km)</a> has lonely beautiful location with sand dunes, small waves and sometimes stronger winds.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mgst">
          <div class="card card-black"><a href="spot.html">
              <div class="card-category">Spots
              </div>
              <h2>Phan Rang
              </h2></a>
            <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="mgst2x"><a href="spot.html">Phan Rang (200 km)</a> has many bays with flat lagoons, protected with coral reef. On the reef you can experience one of the best waves in the region.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Events</h2>
          <table class="table">
            <tr>
              <td> <a href="event.html">Rail Masters Kite Jib Contest</a></td>
              <td>15–23rd August 2015</td>
            </tr>
            <tr>
              <td> <a href="event.html">PKRA 5th leg </a></td>
              <td>18–26th of September 2015</td>
            </tr>
          </table>
          <h2>Tag <a class="tag">Muine</a></h2>
          <h3>Mui Ne lifestyle</h3>
          <div class="video">
            <iframe src="//player.vimeo.com/video/21929046?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <div class="social-votes social-votes-post"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+30k</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
            </div>
            <div class="col-md-6 col-md-pull-6"><a href="user.html" class="user-block user-block-time"><img src="img/content/user04.jpg" class="user-pic"/>
                <div class="user-name-karma">
                  <div class="user-name">North kiteboarding</div>&nbsp;
                  <div class="user-karma">125</div>
                </div>
                <div class="timestamp">6 month ago</div></a>
            </div>
          </div>
          <h3>'We Are Waves' - Zenith Kiting in Mui Ne Vietnam. Kitesurfing & the Lifestyle</h3>
          <div class="video">
            <iframe src="//player.vimeo.com/video/64673706?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <div class="social-votes social-votes-post"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+30k</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
            </div>
            <div class="col-md-6 col-md-pull-6"><a href="user.html" class="user-block user-block-time"><img src="img/content/user04.jpg" class="user-pic"/>
                <div class="user-name-karma">
                  <div class="user-name">North kiteboarding</div>&nbsp;
                  <div class="user-karma">125</div>
                </div>
                <div class="timestamp">6 month ago</div></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Comments</h2>
          <div class="comments-form">
            <textarea rows="3" placeholder="Your comment goes here" class="form-control mgst"></textarea>
            <button type="button" class="btn btn-default mgst">Post a comment</button>
          </div>
          <div class="comments-list">
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user01.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">freerider</div>&nbsp;
                    <div class="user-karma">125</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes opla"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+12k</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Why all great riders are selling for money? I don't understand this! Lenten, Zoon, now Hadlow. I quit kiteboarding, better start playing chess from now. I hate you, people.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user02.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">f16 shredder</div>&nbsp;
                    <div class="user-karma">18</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+983</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Relax, man. Maybe he likes North kites colors more, than Flexi's.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user03.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">shriboomer</div>&nbsp;
                    <div class="user-karma">50</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Hehe, why don't everyone stop whining around and go for a good session? I'm sure Hadlow is having a good one now.</p>
              </div>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span></a></li>
              <li class="active"><a href="#">01<span class="sr-only">(current)</span></a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li><a href="#">04</a></li>
              <li><a href="#">05</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/spot.jade
block append init
  - var bodyclass = "page-marginless"
  - var header_overlay = true

extends default.jade

block title
  title Mui Ne kitesurfing | Kitearound

block content
  .container-fluid.fullw.map.map-country#spot-location-map(data-lat='10.945736510951978', data-lng='108.20295614624024', data-zoom='13', data-showmarkers='true')
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Mui Ne kitesurfing
        p Mui Ne Beach is one of the best 
          a(href="spot.html") Phan Thiet region
          |  destination for kiteboarding. Price of living is very cheap, people are friendly. A lot of kitesurfers come to catch some good wind, so expect crowdy beaches. Anyway this area has really long beaches, so you always can find a lonely place to kitesurf.
        p Nearby spot 
          a(href="spot.html") Malibu (15 km)
          |  has up to overhead waves with beachbreak and lonely beaches.
        h2 Wind and statistics
        .table-responsive
          table.table
            tr
              th Month
              th.td-spacer
              th Jan
              th Feb
              th Mar
              th Apr
              th May
              th Jun
              th Jul
              th Aug
              th Sep
              th Oct
              th Nov
              th Dev
            tr
              td.td-header Windy days, %
              td.td-spacer
              td 80
              td 75
              td 60
              td 30
              td 10
              td 40
              td 50
              td 35
              td 20
              td 75
              td 85
              td 90
            tr
              td.td-header Wind direction
              td.td-spacer
              td 
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
              td
                .wind-direction.wind-direction-4
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
              td 
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-3
              td
                .wind-direction.wind-direction-2
              td
                .wind-direction.wind-direction-4
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
            tr
              td.td-header KA rating
              td.td-spacer
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
              td 
              td 
              td 
                i.fa.fa-star-o
              td
                i.fa.fa-star-o
              td
              td 
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
        p.table-caption Based on 
          a(href="spot-statistics.html") many sources
          | .
      .col-xs-12
        p Mui Ne enjoys strong winds in winter monsoon season with daily average 20 knots / 5 days a week. Strong winds bring big windy waves overhead and higher.
        p Summer monsoon brings rainy weather and smaller winds.
        h2 Spot photos
        +photo-gallery
        h2 Features
    .row
      .col-sm-6
        ul.fa-ul.ul-common
          li
            i.fa-li.fa.fa-plus
            | No current
          li
            i.fa-li.fa.fa-plus
            | Lots of wind
          li
            i.fa-li.fa.fa-plus
            | Tide independent
          li
            i.fa-li.fa.fa-plus
            | Waves 1-3m
          li
            i.fa-li.fa.fa-plus
            | Steady monsoon wind
          li
            i.fa-li.fa.fa-plus
            | Thermal effect
          li
            i.fa-li.fa.fa-plus
            | Cheap prices
      .col-sm-6
        ul.fa-ul.ul-common
          li
            i.fa-li.fa.fa-minus
            | Crowded
          li
            i.fa-li.fa.fa-minus
            | Fishing nets. Can be as close as 50m from beach in many layers
          li
            i.fa-li.fa.fa-minus
            | Lots of beach users
          li
            i.fa-li.fa.fa-minus
            | Small to medium chop
      .col-xs-12
        a(href="spot-school.html")
          h2 Kiteschools in Mui Ne
        table.table
          tr
            th Name
            th Price for 1 hour
            th KA rating
            th Certificate
          tr
            td 
              a(href="school.html") Surf4you
            td 50€
            td +45
            td
              img(src="img/icons/iko.svg").img-iko
          tr
            td 
              a(href="school.html") Surfpoint
            td 60€
            td +25
            td
              img(src="img/icons/iko.svg").img-iko
          tr
            td 
              a(href="school.html") Dragon Tarifa
            td 70€
            td +12
            td
              img(src="img/icons/iko.svg").img-iko
          tr
            td 
              a(href="school.html") Tarifa Max
            td 60€
            td +4
            td —
        h2 Nearby spots
    .row
      .col-sm-6.mgst
        +card("spot.html", "Spots", "Malibu", "black", "img/content/spot-05.jpg")
      .col-sm-6
        p.mgst2x 
          a(href="spot.html") Malibu (15 km)
          |  has up to overhead waves with beachbreak and lonely beaches. Sometimes it gives great condition for freestyle and kiteloop sessions.
    .row
      .col-sm-6.mgst
        +card("spot.html", "Spots", "Turtle Island", "black", "img/content/spot-06.jpg")
      .col-sm-6
        p.mgst2x
          a(href="spot.html") Turtle Island (30 km)
          |  has lonely beautiful location with sand dunes, small waves and sometimes stronger winds.
    .row
      .col-sm-6.mgst
        +card("spot.html", "Spots", "Phan Rang", "black", "img/content/spot-04.jpg")
      .col-sm-6
        p.mgst2x
          a(href="spot.html") Phan Rang (200 km)
          |  has many bays with flat lagoons, protected with coral reef. On the reef you can experience one of the best waves in the region.
    .row
      .col-xs-12
        h2 Events
        table.table
          tr
            td 
              a(href="event.html") Rail Masters Kite Jib Contest
            td 15–23rd August 2015
          tr
            td 
              a(href="event.html") PKRA 5th leg 
            td 18–26th of September 2015
        h2 Tag 
          a.tag Muine

        h3 Mui Ne lifestyle
        .video
          iframe(src='//player.vimeo.com/video/21929046?color=ffffff&title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        +social-widget

        h3 'We Are Waves' - Zenith Kiting in Mui Ne Vietnam. Kitesurfing & the Lifestyle
        .video
          iframe(src='//player.vimeo.com/video/64673706?color=ffffff&title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        +social-widget
    .row
      .col-xs-12
        h2 Comments
        +comments-list
