src/jade/spot-school.jade
block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block title
	title Kiteschool Tarifa | Kitearound

block content
	.container-fluid.fullw.map.map-country#spot-location-map(data-lat='36.006265637124606', data-lng='-5.608698977386439')
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kiteschool Tarifa
				p If you need to find a proper kiteschool in Tarifa, look no further. Here we have full list of all schools, that capable to teach you 
					strong kitesurfing lessons in Tarifa
					| . You will be able to learn piloting kite, waterstart and other basics of this exciting sport.
				p If you want to be sure of wind, sun and adventure then Tarifa is the ideal location. Perfect wind and wave conditions, combined with the beautiful sandy beaches of Los Lances, Valdevaqueros, and Punta Paloma, all with the amazing mountainous back drop of Morocco. Learn more about 
					a(href="spot.html") Tarifa
					| .
				h2 Kitesurfing schools in Tarifa
				p Established kiteschools have professional instructors and great experience in teaching people to kitesurf. It is your best choice to learn kitesurfing in a kiteschool.
				+schools-table
				h2 Independent kitesurfing instructors in Tarifa
				p An independent instructor can offer better pricing and personal approach to your learning. But also can be more risky choice due lack of training and experience.
				table.table
					tr
						th Name
						th Price for 1 hour
						th KA rating
						th Certificate
					tr
						td 
							a(href="user.html") Graham Goodwin
						td 30€
						td +45
						td
							img(src="img/icons/iko.svg").img-iko
					tr
						td 
							a(href="user.html") Chialvo
						td 35€
						td +25
						td —
					tr
						td 
							a(href="user.html") Flavio
						td 40€
						td +12
						td
							img(src="img/icons/iko.svg").img-iko
					tr
						td 
							a(href="user.html") Gerardo Leal
						td 45€
						td +4
						td —
				h2 Read more
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Mui Ne spot guide", "black", "img/content/spot-05.jpg")
			.col-sm-6
				+card("spot-list-country.html", "Spots", "Vietnam guide", "black", "img/content/spot-04.jpg")

public/spot-school.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kiteschool Tarifa | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body class="page-marginless">
    <div id="header" class="fullw header-overlay">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div id="spot-location-map" data-lat="36.006265637124606" data-lng="-5.608698977386439" class="container-fluid fullw map map-country"></div>
    <div class="container-fluid container-st">
      <div class="row">
        <div class="col-xs-12">
          <h1>Kiteschool Tarifa</h1>
          <p>If you need to find a proper kiteschool in Tarifa, look no further. Here we have full list of all schools, that capable to teach you <strong>kitesurfing lessons in Tarifa</strong>. You will be able to learn piloting kite, waterstart and other basics of this exciting sport.</p>
          <p>If you want to be sure of wind, sun and adventure then Tarifa is the ideal location. Perfect wind and wave conditions, combined with the beautiful sandy beaches of Los Lances, Valdevaqueros, and Punta Paloma, all with the amazing mountainous back drop of Morocco. Learn more about <a href="spot.html">Tarifa</a>.</p>
          <h2>Kitesurfing schools in Tarifa</h2>
          <p>Established kiteschools have professional instructors and great experience in teaching people to kitesurf. It is your best choice to learn kitesurfing in a kiteschool.</p>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Price for 1 hour</th>
              <th>KA rating</th>
              <th>Certificate</th>
            </tr>
            <tr>
              <td><a href="school.html">Surf4you</a></td>
              <td>50€</td>
              <td>+45</td>
              <td><img src="img/icons/iko.svg" class="img-iko"/></td>
            </tr>
            <tr>
              <td><a href="school.html">Surfpoint</a></td>
              <td>60€</td>
              <td>+25</td>
              <td><img src="img/icons/iko.svg" class="img-iko"/></td>
            </tr>
            <tr>
              <td><a href="school.html">Dragon Tarifa</a></td>
              <td>70€</td>
              <td>+12</td>
              <td><img src="img/icons/bksa.svg" class="img-bksa"/></td>
            </tr>
            <tr>
              <td><a href="school.html">Tarifa Max</a></td>
              <td>60€</td>
              <td>+4</td>
              <td>—</td>
            </tr>
          </table>
          <h2>Independent kitesurfing instructors in Tarifa</h2>
          <p>An independent instructor can offer better pricing and personal approach to your learning. But also can be more risky choice due lack of training and experience.</p>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Price for 1 hour</th>
              <th>KA rating</th>
              <th>Certificate</th>
            </tr>
            <tr>
              <td> <a href="user.html">Graham Goodwin</a></td>
              <td>30€</td>
              <td>+45</td>
              <td><img src="img/icons/iko.svg" class="img-iko"></td>
            </tr>
            <tr>
              <td> <a href="user.html">Chialvo</a></td>
              <td>35€</td>
              <td>+25</td>
              <td>—</td>
            </tr>
            <tr>
              <td> <a href="user.html">Flavio</a></td>
              <td>40€</td>
              <td>+12</td>
              <td><img src="img/icons/iko.svg" class="img-iko"></td>
            </tr>
            <tr>
              <td> <a href="user.html">Gerardo Leal</a></td>
              <td>45€</td>
              <td>+4</td>
              <td>—</td>
            </tr>
          </table>
          <h2>Read more</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-black"><a href="spot.html">
              <div class="card-category">Spots
              </div>
              <h2>Mui Ne spot guide
              </h2></a>
            <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-black"><a href="spot-list-country.html">
              <div class="card-category">Spots
              </div>
              <h2>Vietnam guide
              </h2></a>
            <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
