public/spot-list-continent.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Europe kitesurfing guide | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body>
    <div id="header" class="fullw">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div class="container-fluid container-st">
      <div class="share-widget fixedsticky">
        <div class="share-widget-facebook"><a class="js"><i class="fa fa-facebook"></i><span class="share-widget-count">1233</span></a></div>
        <div class="share-widget-twitter"><a class="js"><i class="fa fa-twitter"></i><span class="share-widget-count">39</span></a></div>
        <div class="share-widget-pinterest"><a class="js"><i class="fa fa-pinterest"></i><span class="share-widget-count">5</span></a></div>
        <div class="share-widget-comments"><a href="#comments" class="js"><i class="fa fa-comments"></i><span class="share-widget-count">1709</span></a></div>
        <div class="share-widget-votes">
          <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>Europe kitesurfing guide</h1>
          <p>You can find everything you need in Europe — strong winds, flat waters and good waves. Incredible scenery with rich cultural legacy is making this continent one of the most interesting for kiting.</p>
          <div class="promo-country">
            <div class="promo-country-content">
              <div class="row">
                <div class="col-xs-8"><a href="spot-list-country.html">
                    <h2>Portugal</h2></a></div>
                <div class="col-xs-4 text-right"><a href="spot-list-country.html"><i class="fa fa-thumbs-o-up">
                      <div class="like-count">40
                      </div></i></a></div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="guide-infographic">
                    <div class="guide-infographic-col"><a href="spot-list-country.html">
                        <div class="guide-infographic-num">459</div>
                        <div class="guide-infographic-desc">spots</div></a></div>
                    <div class="guide-infographic-col"><a href="spot-list-country.html">
                        <div class="guide-infographic-num">34</div>
                        <div class="guide-infographic-desc">kiteschools</div></a></div>
                    <div class="guide-infographic-col"><a href="spot-list-country.html">
                        <div class="guide-infographic-num">12</div>
                        <div class="guide-infographic-desc">locals</div></a></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p> <a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;Guincho</a> photo by Toby Bromwich</p>
                </div>
              </div>
            </div>
            <div style="background: url('img/content/spot-04.jpg') no-repeat center center;" class="promo-country-img"></div>
          </div>
          <div class="promo-country-desc">
            <div class="row">
              <div class="col-sm-8">
                <h3>Description</h3>
                <p>Portugal is Mecca for all European wave riding lovers. Blessed with Atlantic swell and reliable wind system, its best season is summer.</p>
              </div>
              <div class="col-sm-4">
                <h3>Popular spots</h3>
                <ul class="list-unstyled">
                  <li><a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;Guincho</a></li>
                  <li><a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;Costa da Caparica</a></li>
                  <li><a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;Supertubos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="promo-country">
            <div class="promo-country-content">
              <div class="row">
                <div class="col-xs-8"><a href="spot-list-country.html">
                    <h2>Spain</h2></a></div>
                <div class="col-xs-4 text-right"><a href="spot-list-country.html"><i class="fa fa-thumbs-o-up">
                      <div class="like-count">34
                      </div></i></a></div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="guide-infographic">
                    <div class="guide-infographic-col"><a href="spot-list-country.html">
                        <div class="guide-infographic-num">23</div>
                        <div class="guide-infographic-desc">spots</div></a></div>
                    <div class="guide-infographic-col"><a href="spot-list-country.html">
                        <div class="guide-infographic-num">12</div>
                        <div class="guide-infographic-desc">kiteschools</div></a></div>
                    <div class="guide-infographic-col"><a href="spot-list-country.html">
                        <div class="guide-infographic-num">7</div>
                        <div class="guide-infographic-desc">locals</div></a></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p> <a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;Tarifa</a> photo by Erin Brokovich</p>
                </div>
              </div>
            </div>
            <div style="background: url('img/content/spot-05.jpg') no-repeat center center;" class="promo-country-img"></div>
          </div>
          <div class="promo-country-desc">
            <div class="row">
              <div class="col-sm-8">
                <h3>Description</h3>
                <p>Spain has the strongest wind in whole Europe. Very challenging conditions for confident riders are here.</p>
              </div>
              <div class="col-sm-4">
                <h3>Popular spots</h3>
                <ul class="list-unstyled">
                  <li><a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;Tarifa</a></li>
                  <li><a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;El Medano</a></li>
                  <li><a href="spot.html"><i class="fa fa-map-marker"></i>&nbsp;Fuerteventura</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Comments</h2>
          <div class="comments-form">
            <textarea rows="3" placeholder="Your comment goes here" class="form-control mgst"></textarea>
            <button type="button" class="btn btn-default mgst">Post a comment</button>
          </div>
          <div class="comments-list">
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user01.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">freerider</div>&nbsp;
                    <div class="user-karma">125</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes opla"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+12k</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Why all great riders are selling for money? I don't understand this! Lenten, Zoon, now Hadlow. I quit kiteboarding, better start playing chess from now. I hate you, people.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user02.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">f16 shredder</div>&nbsp;
                    <div class="user-karma">18</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+983</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Relax, man. Maybe he likes North kites colors more, than Flexi's.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user03.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">shriboomer</div>&nbsp;
                    <div class="user-karma">50</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Hehe, why don't everyone stop whining around and go for a good session? I'm sure Hadlow is having a good one now.</p>
              </div>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span></a></li>
              <li class="active"><a href="#">01<span class="sr-only">(current)</span></a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li><a href="#">04</a></li>
              <li><a href="#">05</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/spot-list-continent.jade
block append init

extends default.jade

block title
  title Europe kitesurfing guide | Kitearound

block content
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Europe kitesurfing guide
        p You can find everything you need in Europe — strong winds, flat waters and good waves. Incredible scenery with rich cultural legacy is making this continent one of the most interesting for kiting.
        .promo-country
          .promo-country-content
            .row
              .col-xs-8
                a(href="spot-list-country.html")
                  h2 Portugal
              .col-xs-4.text-right
                a(href="spot-list-country.html")
                  +like-count(40)
            .row
              .col-xs-12
                .guide-infographic
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 459
                      .guide-infographic-desc spots
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 34
                      .guide-infographic-desc kiteschools
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 12
                      .guide-infographic-desc locals
            .row
              .col-xs-12
                p 
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Guincho
                  |  photo by Toby Bromwich
          .promo-country-img(style="background: url('img/content/spot-04.jpg') no-repeat center center;")
        .promo-country-desc
          .row
            .col-sm-8
              h3 Description
              p Portugal is Mecca for all European wave riding lovers. Blessed with Atlantic swell and reliable wind system, its best season is summer.
            .col-sm-4
              h3 Popular spots
              ul.list-unstyled
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Guincho
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Costa da Caparica
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Supertubos
        .promo-country
          .promo-country-content
            .row
              .col-xs-8
                a(href="spot-list-country.html")
                  h2 Spain
              .col-xs-4.text-right
                a(href="spot-list-country.html")
                  +like-count(34)
            .row
              .col-xs-12
                .guide-infographic
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 23
                      .guide-infographic-desc spots
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 12
                      .guide-infographic-desc kiteschools
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 7
                      .guide-infographic-desc locals
            .row
              .col-xs-12
                p 
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Tarifa
                  |  photo by Erin Brokovich
          .promo-country-img(style="background: url('img/content/spot-05.jpg') no-repeat center center;")
        .promo-country-desc
          .row
            .col-sm-8
              h3 Description
              p Spain has the strongest wind in whole Europe. Very challenging conditions for confident riders are here.
            .col-sm-4
              h3 Popular spots
              ul.list-unstyled
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Tarifa
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;El Medano
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Fuerteventura
    .row
      .col-xs-12
        h2 Comments
        +comments-list
