public/spot-list-atlas.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kitesurfing spots atlas | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body>
    <div id="header" class="fullw">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div class="container-fluid bgst">
      <div class="share-widget fixedsticky">
        <div class="share-widget-facebook"><a class="js"><i class="fa fa-facebook"></i><span class="share-widget-count">1233</span></a></div>
        <div class="share-widget-twitter"><a class="js"><i class="fa fa-twitter"></i><span class="share-widget-count">39</span></a></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>Kitesurfing spots atlas</h1>
          <p>If you are looking for your next kitesurfing destination, this is the guide for you. You can find detailed information with wind statistics and photos about many spots. Catalog is user-generated, so we are welcoming contribution from all kitesurfers. Feel free to share your information and contribute to community knowledge.</p>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input id="find-trick" type="email" placeholder="Enter a spot name" class="form-control main-form-email">
          </div>
        </div>
        <div class="col-sm-6"><a href="spot-list-near.html" class="btn btn-outline btn-block">Spots near your location</a></div>
      </div>
      <div class="row">
        <div class="col-xs-12"><a href="spot-list-continent.html">
            <h2>Europe kitesurfing</h2></a></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3"><a href="spot-list-continent.html" class="guide-infographic">
            <div class="guide-infographic-num">459</div>
            <div class="guide-infographic-desc">spots</div></a></div>
        <div class="col-xs-6 col-sm-3"><a href="spot-list-continent.html" class="guide-infographic">
            <div class="guide-infographic-num">16</div>
            <div class="guide-infographic-desc">countries</div></a></div>
        <div class="col-xs-6 col-sm-3"><a href="spot-school.html" class="guide-infographic">
            <div class="guide-infographic-num">34</div>
            <div class="guide-infographic-desc">kiteschools</div></a></div>
        <div class="col-xs-6 col-sm-3">
          <div class="guide-infographic">
            <div class="guide-infographic-num">12</div>
            <div class="guide-infographic-desc">locals</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>It is all started here in France, where modern kites were pioneered by brothers Legaignoux! You can find everything you need in Europe — strong winds, flat waters and good waves. Incredible scenery with rich cultural legacy is making this continent one of the most interesting for kiting.</p>
          <div class="container-no-padding">
            <div itemscope="" itemtype="http://schema.org/ImageGallery" class="img-treemap img-treemap-5">
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-05.jpg" itemprop="contentUrl" data-size="1000x750" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="750"/>
                <figcaption itemprop="caption description">Beach overview
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-06.jpg" itemprop="contentUrl" data-size="1280x854" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-06.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1280"/>
                <meta itemprop="height" content="854"/>
                <figcaption itemprop="caption description">Some guy shredding
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-07.jpg" itemprop="contentUrl" data-size="560x344" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-07.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="560"/>
                <meta itemprop="height" content="344"/>
                <figcaption itemprop="caption description">Another guy shredding
                </figcaption>
              </figure>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"><a href="spot-list-continent.html">
            <h2>East Asia kitesurfing</h2></a></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3"><a href="spot-list-continent.html" class="guide-infographic">
            <div class="guide-infographic-num">201</div>
            <div class="guide-infographic-desc">spots</div></a></div>
        <div class="col-xs-6 col-sm-3"><a href="spot-list-continent.html" class="guide-infographic">
            <div class="guide-infographic-num">7</div>
            <div class="guide-infographic-desc">countries</div></a></div>
        <div class="col-xs-6 col-sm-3"><a href="spot-school.html" class="guide-infographic">
            <div class="guide-infographic-num">16</div>
            <div class="guide-infographic-desc">kiteschools</div></a></div>
        <div class="col-xs-6 col-sm-3">
          <div class="guide-infographic">
            <div class="guide-infographic-num">9</div>
            <div class="guide-infographic-desc">locals</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>If you dream about kitesurfing in sunny warm conditions, Asia has all to offer to you. Very popular winter holiday destinations are here.</p>
          <div class="container-no-padding">
            <div itemscope="" itemtype="http://schema.org/ImageGallery" class="img-treemap img-treemap-5">
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-05.jpg" itemprop="contentUrl" data-size="1000x750" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-05.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="750"/>
                <figcaption itemprop="caption description">Beach overview
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-06.jpg" itemprop="contentUrl" data-size="1280x854" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-06.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1280"/>
                <meta itemprop="height" content="854"/>
                <figcaption itemprop="caption description">Some guy shredding
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-04.jpg" itemprop="contentUrl" data-size="1000x556" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-04.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="1000"/>
                <meta itemprop="height" content="556"/>
                <figcaption itemprop="caption description">Lonely guy with a kite
                </figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"><a href="img/content/spot-07.jpg" itemprop="contentUrl" data-size="560x344" data-author="Joaquim Alves Gaspar">
                  <div style="background: url(&quot;img/content/spot-07.jpg&quot;) no-repeat center center; background-size: cover;" itemprop="thumbnail" alt="Guincho kitesurfing" class="img-treemap-item"></div></a>
                <meta itemprop="width" content="560"/>
                <meta itemprop="height" content="344"/>
                <figcaption itemprop="caption description">Another guy shredding
                </figcaption>
              </figure>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/spot-list-atlas.jade
block append init

extends default.jade

block title
	title Kitesurfing spots atlas | Kitearound

block content
	.container-fluid.bgst
		+share-widget(false, { pinterest: false, comments: false, tags: false, votes: false })
		.row
			.col-xs-12
				h1 Kitesurfing spots atlas
				p If you are looking for your next kitesurfing destination, this is the guide for you. You can find detailed information with wind statistics and photos about many spots. Catalog is user-generated, so we are welcoming contribution from all kitesurfers. Feel free to share your information and contribute to community knowledge.
			.col-sm-6
				.form-group
					input#find-trick.form-control.main-form-email(type='email', placeholder='Enter a spot name')
			.col-sm-6
				a.btn.btn-outline.btn-block(href="spot-list-near.html") Spots near your location
		.row
			.col-xs-12
				a(href="spot-list-continent.html")
					h2 Europe kitesurfing
		.row
			.col-xs-6.col-sm-3
				a(href="spot-list-continent.html").guide-infographic
					.guide-infographic-num 459
					.guide-infographic-desc spots
			.col-xs-6.col-sm-3
				a(href="spot-list-continent.html").guide-infographic
					.guide-infographic-num 16
					.guide-infographic-desc countries
			.col-xs-6.col-sm-3
				a(href="spot-school.html").guide-infographic
					.guide-infographic-num 34
					.guide-infographic-desc kiteschools
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 12
					.guide-infographic-desc locals
		.row
			.col-xs-12
				p It is all started here in France, where modern kites were pioneered by brothers Legaignoux! You can find everything you need in Europe — strong winds, flat waters and good waves. Incredible scenery with rich cultural legacy is making this continent one of the most interesting for kiting.
				+photo-gallery
		.row
			.col-xs-12
				a(href="spot-list-continent.html")
					h2 East Asia kitesurfing
		.row
			.col-xs-6.col-sm-3
				a(href="spot-list-continent.html").guide-infographic
					.guide-infographic-num 201
					.guide-infographic-desc spots
			.col-xs-6.col-sm-3
				a(href="spot-list-continent.html").guide-infographic
					.guide-infographic-num 7
					.guide-infographic-desc countries
			.col-xs-6.col-sm-3
				a(href="spot-school.html").guide-infographic
					.guide-infographic-num 16
					.guide-infographic-desc kiteschools
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 9
					.guide-infographic-desc locals
		.row
			.col-xs-12
				p If you dream about kitesurfing in sunny warm conditions, Asia has all to offer to you. Very popular winter holiday destinations are here.
				+photo-gallery
