src/jade/trick.jade
extends default.jade

block title
  title Blind Judge kitesurfing - how to | Kitearound

block content
  .container-fluid.container-st
    +share-widget(false, { pinterest: false, tags: false, votes: false })
    .row
      .col-xs-12
        h1 Blind Judge
        p Blind Judge (aka BJ) is a 
          a(href="trick.html") unhooked
          |  
          a(href="trick.html") heelside
          |  
          a(href="trick.html") raley-based
          |  trick with a 180° 
          a(href="trick.html") front-side rotation
          |  and 
          a(href="trick.html") handlepass
          |  in the air landing 
          a(href="trick.html") toeside
          | .
        h2 How to Blind Judge
        .heading-vote
          h3 Blind Judge - Kitesurfing Tips with Aaron Hadlow
          +social-votes("453")
        .video
          iframe(src='https://www.youtube.com/embed/OAXEfdVEI_8?showinfo=0&color=white&modestbranding=1&theme=light&color=white&rel=0&fs=1&rel=0', frameborder='0', allowfullscreen)
      .col-xs-12
        .heading-vote
          h3 How to do a Blind Judge
          +social-votes("256")
        .video
          iframe(src='https://www.youtube.com/embed/Q_fCq6pPJVc?showinfo=0&color=white&modestbranding=1&theme=light&color=white&rel=0&fs=1&rel=0', frameborder='0', allowfullscreen)
      .col-xs-12
        h2 Blind Judge steps
        ol.ul-spreaded
          li Get a moderate speed
          li Keep your kite powered at 45°
          li Go downwind
          li Unhook
          li Pop into a 
            a(href="trick.html") Raley
          li While in the air
            ul
              li Keep your hands bent to make pass easier
              li Bend your legs to make rotation faster
              li Make a 180° rotation front-side
              li Pass the bar while in the air
          li Land toeside
      .col-xs-12
        h2 Tricks before
        p Make sure you can easily do following tricks:
    .row
      .col-sm-6
        +card("trick.html", "Handlepasses", "Raley to Blind", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Pop to Blind", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Surface handlepass 360°", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Handlepass 180° on a swing rope", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-xs-12
        p Also good to practice:
      .col-sm-6
        +card("trick.html", "Handlepasses", "Dangle pass", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Riding blind hooked-in", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Crypt", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-xs-12
        h2 Tricks after
      .col-sm-6
        +card("trick.html", "Handlepasses", "Blind Judge 3", "trick", "img/content/trick-01.jpg", 5, 10)
    .row
      .col-xs-12
        h2 Comments
        +comments-list

public/trick.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blind Judge kitesurfing - how to | Kitearound</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" media="screen" href="components/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" media="screen" href="components/fixedsticky/fixedsticky.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/photoswipe.css">
    <link rel="stylesheet" media="screen" href="components/photoswipe/default-skin/default-skin.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
  </head>
  <body>
    <div id="header" class="fullw">
      <div class="header-border"><a href="index.html" id="logo-link">
          <div id="logo-img"></div></a>
        <div class="menu-content">
          <ul>
            <li><a href="map.html">Maps</a></li>
            <li><a href="post-list.html">News</a></li>
            <li><a href="spot-list-atlas.html">Spots</a></li>
            <li><a href="shop-list.html">Shops</a></li>
            <li><a href="video-list.html">Videos</a></li>
            <li><a href="trick-list.html">Tricks</a></li>
            <li><a href="event-list.html">Events</a></li>
            <li><a href="school-list.html">Schools</a></li>
          </ul>
        </div>
        <div class="sidebar-right">
          <div class="menu-button"><a class="js"><i class="ka-icon ka-menu"></i></a></div>
          <div class="login"><a class="js"><i class="ka-icon ka-login"></i></a></div>
        </div>
      </div>
    </div>
    <div id="menu" class="fullw collapse">
      <div class="menu-content">
        <ul>
          <li><a href="map.html">Maps</a></li>
          <li><a href="post-list.html">News</a></li>
          <li><a href="spot-list-atlas.html">Spots</a></li>
          <li><a href="shop-list.html">Shops</a></li>
          <li><a href="video-list.html">Videos</a></li>
          <li><a href="trick-list.html">Tricks</a></li>
          <li><a href="event-list.html">Events</a></li>
          <li><a href="school-list.html">Schools</a></li>
        </ul>
      </div>
    </div>
    <div class="header-margin"></div>
    <div class="container-fluid container-st">
      <div class="share-widget fixedsticky">
        <div class="share-widget-facebook"><a class="js"><i class="fa fa-facebook"></i><span class="share-widget-count">1233</span></a></div>
        <div class="share-widget-twitter"><a class="js"><i class="fa fa-twitter"></i><span class="share-widget-count">39</span></a></div>
        <div class="share-widget-comments"><a href="#comments" class="js"><i class="fa fa-comments"></i><span class="share-widget-count">1709</span></a></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>Blind Judge</h1>
          <p>Blind Judge (aka BJ) is a <a href="trick.html">unhooked</a> <a href="trick.html">heelside</a> <a href="trick.html">raley-based</a> trick with a 180° <a href="trick.html">front-side rotation</a> and <a href="trick.html">handlepass</a> in the air landing <a href="trick.html">toeside</a>.</p>
          <h2>How to Blind Judge</h2>
          <div class="heading-vote">
            <h3>Blind Judge - Kitesurfing Tips with Aaron Hadlow</h3>
            <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+453</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
          </div>
          <div class="video">
            <iframe src="https://www.youtube.com/embed/OAXEfdVEI_8?showinfo=0&amp;color=white&amp;modestbranding=1&amp;theme=light&amp;color=white&amp;rel=0&amp;fs=1&amp;rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="heading-vote">
            <h3>How to do a Blind Judge</h3>
            <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+256</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
          </div>
          <div class="video">
            <iframe src="https://www.youtube.com/embed/Q_fCq6pPJVc?showinfo=0&amp;color=white&amp;modestbranding=1&amp;theme=light&amp;color=white&amp;rel=0&amp;fs=1&amp;rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-xs-12">
          <h2>Blind Judge steps</h2>
          <ol class="ul-spreaded">
            <li>Get a moderate speed</li>
            <li>Keep your kite powered at 45°</li>
            <li>Go downwind</li>
            <li>Unhook</li>
            <li>Pop into a <a href="trick.html">Raley</a></li>
            <li>While in the air
              <ul>
                <li>Keep your hands bent to make pass easier</li>
                <li>Bend your legs to make rotation faster</li>
                <li>Make a 180° rotation front-side</li>
                <li>Pass the bar while in the air</li>
              </ul>
            </li>
            <li>Land toeside</li>
          </ol>
        </div>
        <div class="col-xs-12">
          <h2>Tricks before</h2>
          <p>Make sure you can easily do following tricks:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Raley to Blind
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>5
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>10
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-01.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Pop to Blind
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>7
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>89
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-02.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Surface handlepass 360°
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>5
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>10
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-01.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Handlepass 180° on a swing rope
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>7
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>89
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-02.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <p>Also good to practice:</p>
        </div>
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Dangle pass
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>5
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>10
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-01.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Riding blind hooked-in
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>7
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>89
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-02.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Crypt
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>5
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>10
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-01.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <h2>Tricks after</h2>
        </div>
        <div class="col-sm-6">
          <div class="card card-trick"><a href="trick.html">
              <div class="card-category">Handlepasses
              </div>
              <h2>Blind Judge 3
              </h2>
              <div class="card-like-comment">
                <div class="card-like-count"><i class="fa fa-thumbs-o-up"></i>5
                </div>
                <div class="card-comment-count"><i class="fa fa-comment-o"></i>10
                </div>
              </div></a>
            <div style="background: url(&quot;img/content/trick-01.jpg&quot;) no-repeat center center; background-size: cover;" class="card-img"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Comments</h2>
          <div class="comments-form">
            <textarea rows="3" placeholder="Your comment goes here" class="form-control mgst"></textarea>
            <button type="button" class="btn btn-default mgst">Post a comment</button>
          </div>
          <div class="comments-list">
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user01.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">freerider</div>&nbsp;
                    <div class="user-karma">125</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes opla"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+12k</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Why all great riders are selling for money? I don't understand this! Lenten, Zoon, now Hadlow. I quit kiteboarding, better start playing chess from now. I hate you, people.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user02.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">f16 shredder</div>&nbsp;
                    <div class="user-karma">18</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+983</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Relax, man. Maybe he likes North kites colors more, than Flexi's.</p>
              </div>
            </div>
            <div class="comments-entry">
              <div class="comments-entry-header"><a href="user.html" class="user-block user-block-time"><img src="img/content/user03.jpg" class="user-pic"/>
                  <div class="user-name-karma">
                    <div class="user-name">shriboomer</div>&nbsp;
                    <div class="user-karma">50</div>
                  </div>
                  <div class="timestamp">3 hours ago</div></a>
                <div class="social-votes"><a class="js vote-up"><i class="fa fa-thumbs-o-up"></i></a><span class="votes">+3</span><a class="js vote-down"><i class="fa fa-thumbs-o-down"></i></a></div>
              </div>
              <div class="comments-text">
                <p>Hehe, why don't everyone stop whining around and go for a good session? I'm sure Hadlow is having a good one now.</p>
              </div>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left"></i></span></a></li>
              <li class="active"><a href="#">01<span class="sr-only">(current)</span></a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li><a href="#">04</a></li>
              <li><a href="#">05</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right"></i></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Kitearound</h3>
            <div class="menu-content">
              <ul>
                <li><a href="map.html">Maps</a></li>
                <li><a href="post-list.html">News</a></li>
                <li><a href="spot-list-atlas.html">Spots</a></li>
                <li><a href="shop-list.html">Shops</a></li>
                <li><a href="video-list.html">Videos</a></li>
                <li><a href="trick-list.html">Tricks</a></li>
                <li><a href="event-list.html">Events</a></li>
                <li><a href="school-list.html">Schools</a></li>
              </ul>
            </div>
            <h3>Follow us</h3>
            <p><a href="https://www.facebook.com/pages/Kitearound/852081554833830"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a><a href="https://twitter.com/kitearound"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></p>
            <p id="credits">Design and coding by <a href="http://accuraten.com/">Accuraten</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/js.js"></script>
    <script src="components/fixedsticky/fixedsticky.js"></script>
    <script src="components/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="components/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>
    <script src="components/photoswipe/photoswipe.min.js"></script>
    <script src="components/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="js/pswp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw"></script>
    <script src="js/markerwithlabel.js"></script>
    <script>
      window.fbAsyncInit = function() {
      	FB.init({
      		appId      : '146408198744578',
      		xfbml      : true,
      		version    : 'v2.1'
      	});
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-19313863-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div><!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div><!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar"><!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button><!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
